<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Profesor</title>
</head>
<body>
    <h1 th:text="'Detalles del profesor: ' 
                + ${profesor.nombre} + ' ' 
                + ${profesor.primerApellido} + ' '
                + ${profesor.segundoApellido}"></h1>

    <table border="1" cellpadding="8">
        <tr>
            <td>Nombre</td>
            <td th:text="${profesor.nombre}"></td>
        </tr>
        <tr>
            <td>Primer Apellido</td>
            <td th:text="${profesor.primerApellido}"></td>
        </tr>
        <tr>
            <td>Segundo Apellido</td>
            <td th:text="${profesor.segundoApellido}"></td>
        </tr>
        <tr>
            <td>Genero</td>
            <td th:text="${profesor.genero}"></td>
        </tr>
        <tr>
            <td>Fecha de Alta</td>
            <td th:text="${profesor.fechaAlta}"></td>
        </tr>
        <tr>
            <td>Salario</td>
            <td th:text="${profesor.salario}"></td>
        </tr>
        <tr>
            <td>Facultad</td>
            <td th:text="${profesor.facultad != null ? profesor.facultad.nombre : ''}"></td>
        </tr>
    </table>

    <!-- Foto del profesor -->
    <div th:if="${profesor.foto != null}">
        <h2>Foto: </h2>
        <img th:src="@{/imagenes/}+${profesor.foto}" alt="Foto del Profesor" width="200">
    </div>

    <br>
    <a th:href="@{/profesores/listar}">Volver al listado</a>
</body>
</html>